@model UploadingFiles.Web.Models.UploadedFileViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h2>Add new file</h2>

    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("AddFile", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" } @*new { enctype = "multipart/form-data" }*@))
                {

                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("File", new { @class = "col-md-2 control-label" })
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" name="file" value="Browse" />
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add file" class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>

    <div class="row" style="margin: 50px 0; ">
        <!--
        <div class="col-md-8">
            <div class="pull-left prf-file" style="margin-right: 20px;">
                <input type="file" name="img" accept="image/*">
            </div>
        </div>
        -->
        <a href="#loadFileModal" id="loadFile" class="btn btn-primary" data-toggle="modal" data-target="#loadFileModal">Загрузить файл</a>
        <a href="" id="#loadLinkModal" class="btn btn-primary pull-right" data-toggle="modal" data-target="#loadLinkModal">Загрузить ссылку</a>

    </div>

        @Html.Action("FilesList")
    </div>

<!-- Modal for File Load -->
<div class="modal fade" id="loadFileModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Загрузите файл</h4>
            </div>
            <form id="superForm" name="traineeFile" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fileName" class="control-label">Название:</label>
                        <input type="text" id="fileDescription" class="form-control" name="description">
                    </div>

                    <div class="form-group">
                        <label for="file" class="control-label">Выберите файл:</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input type="file" id="newFile" name="file" value="Browse" />
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="alert alert-danger" id="attention"><h4>Слишком большой файл</h4></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="saveFile" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
<!-- end of Modal for File Load -->

<!-- Modal for Link Load -->
<div class="modal fade" id="loadLinkModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Загрузите ссылку</h4>
            </div>
            <form name="traineeLink">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="linkName" class="control-label">Название:</label>
                        <input type="text" class="form-control prf-link-name" id="linkName" data-link="linkName">
                    </div>
                    <div class="form-group">
                        <label for="linkURL" class="control-label">Ссылка:</label>
                        <input type="url" class="form-control prf-link-url" id="linkURL">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="saveLink" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end of Modal for Link Load -->
